<header class="header">
  <ul class="header__nav">
    <li class="header__nav-item">
      <a class="header__nav-link" href="/">Home</a>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-link" href="/about">About</a>
    </li>
    
    <li class="header__nav-item">
      <a class="header__nav-link" href="/categories">Categories</a>
      <ul class="header__dropdown">
        <li class="header__dropdown-item">
          <a class="header__dropdown-link" href="/css">CSS</a>
        </li>

        <li class="header__dropdown-item">
          <a class="header__dropdown-link" href="javascript:;">Other</a>
        </li>
      </ul>
    </li>

    <li class="header__nav-item">
      <a class="header__nav-link" href="/contacts">Contacts</a>
    </li>
  </ul>

  <span class="header__veil"></span>

  <div class="header__title">
    <div class="header__title-main">How to Front-End</div>
    <div class="header__title-meta">The developer's notes</div>
  </div>
</header>
