/* base */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: $opensans;
  line-height: 1.5;
  color: $textgrey;
  background-image: linear-gradient(45deg, $lightred, $lightorange);
  padding: 0 16px;
  box-sizing: border-box;
}

code,
pre {
  background: #f5f7f9;
  color: #757575;
  white-space: pre-wrap;
}

code {
  
}

pre {
  border-left: 2px solid #69c;
  padding: 16px;
}

h1,
h2 {
  color: $headergrey;
  font-family: $merryweather;
}

a,
a:visited {
  color: $accent;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
}
