// fonts
$merryweather: "Merriweather", "Georgia", "Times", sans-serif;
$opensans: "Open Sans", "Helvetica", "Arial", sans-serif;

// colors
$white: #ffffff;
$black: #000000;
$lightgreen: #80CBC4;
$lightblue: #90CAF9;
$lightred: #e57373;
$lightorange: #FFD54F;
$textgrey: #566b78;
$headergrey: #333333;
$backgroundgrey: #fafafa;
$accent: #FFB74D;

// measurements
$mobileWidth: 580px;
