// fonts
$merryweather: "Merriweather", "Georgia", "Times", sans-serif;
$opensans: "Open Sans", "Helvetica", "Arial", sans-serif;

// colors
$black: #000000;
$lightgreen: #80CBC4;
$lightblue: #90CAF9;
$textgrey: #566b78;
$headergrey: #333333;
$backgroundgrey: #fafafa;
$accent: #e81c4f;

// measurements
$mobileWidth: 580px;
