// fonts
$merryweather: "Merriweather", "Georgia", "Times", sans-serif;
$opensans: "Open Sans", "Helvetica", "Arial", sans-serif;
$lightgreen: #80CBC4;
$lightblue: #90CAF9;
$textgrey: #566b78;
$headergrey: #333333;
$accent: #e81c4f;
